{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>URL</th>
                    <th>Antraštė</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ document.id }}</td>
                        <td>{{ document.url }}</td>
                        <td>{{ document.title }}</td>
                        <td>
                            <a class="btn btn-xs btn-primary" href="{{ path("say_and_do_analyzis_homepage.view", {'id' : document.id}) }}">[view]</a>
                            <a class="btn btn-xs btn-danger" href="{{ path("say_and_do_analyzis_homepage.remove", {'id' : document.id}) }}">[rm]</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form role="form" action="{{ path("say_and_do_analyzis_homepage.add") }}" method="post">
                <div class="form-group">
                    <label>URL</label>
                    <input type="text" name="url" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Antraštė</label>
                    <input type="text" name="title" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Turinys</label>
                    <textarea class="form-control" name="content" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Pridėti dokumentą</button>
            </form>
        </div>
    </div>
{% endblock %}
