{% extends '::admin.html.twig' %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-12">
            <h3><i class="fa fa-angle-right"></i> Dokumentų analizė</h3>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <h4></h4>

            <form role="form" action="{{ path("say_and_do_analyzis_homepage.query") }}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" value="{{ query }}"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-block">Ieškom</button>
                    </span>
                </div>
                <!-- /input-group -->
                <div class="form-group">

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Score</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                {% for hit in hits %}
                    <tr>
                        <td>{% if hit.score is not empty %}{{ hit.score }}{% else %}n\a{% endif %}</td>
                        <td><a href="{{ path("say_and_do_analyzis_homepage.view", {'id' : hit.id}) }}">{{ hit.title }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if hits is not empty %}
                <h4>Dažniausi žodžiai</h4>
                <table class="table table-condensed table-hover">
                    <tbody>
                    {% for term in hits.facets.terms.terms %}
                        <tr>
                            <td>{{ term.count }}</td>
                            <td>{{ term.term }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
