{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,900,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <!-- Template Styles -->
    <link rel="stylesheet" href="{{ asset('admin/css/style-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <!-- Main Scripts-->
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('admin/js/common-scripts.js') }}"></script>
{% endblock %}

{% block scroll_to_top %}{% endblock %}

{% block top_bar %}
    <header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="#" class="logo"><b>TVIRTAS<span>ŽODIS</span></b></a>
    <!--logo end-->
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" href="{{ path("say_and_do_profile_homepage") }}">Darbo pabaiga</a></li>
        </ul>
    </div>
    </header>
{% endblock %}

{% block top_menu %}
    <aside>
        <div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="profile.html"><img src="https://avatars3.githubusercontent.com/u/2177571?s=460}}"
                                                                class="img-circle"
                                                                width="80"></a></p>
                <h5 class="centered">Edvinas Kručas</h5>

                <li class="mt">
                    <a href="#">
                        <i class="fa fa-dashboard"></i>
                        <span>Administravimas</span>
                    </a>
                </li>

                <li class="sub-menu dcjq-parent-li">
                    <a class="dcjq-parent" href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Pažadai</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub" style="display: block;">
                        <li><a href="{{ path('say_and_do_admin_tasks') }}">Nauji pažadai</a></li>
                    </ul>
                </li>

                <li class="sub-menu dcjq-parent-li">
                    <a class="dcjq-parent" href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Dokumentai</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub" style="display: block;">
                        <li><a href="{{ path('say_and_do_analyzis_homepage.add') }}">Įvesti naują</a></li>
                        <li><a href="{{ path('say_and_do_analyzis_homepage.import') }}">Importuoti per URL</a></li>
                        <li><a href="{{ path('say_and_do_analyzis_homepage') }}">Visi dokumentai</a></li>
                        <li><a href="{{ path('say_and_do_analyzis_homepage.query') }}">Paieška</a></li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
{% endblock %}

{% block content %}
    <section id="main-content">
        <section class="wrapper site-min-height">
            {% block inner_content %}{% endblock %}
        </section>
        <!-- --/wrapper ---->
    </section>
{% endblock %}

{% block footer %} {% endblock %}
