{% extends '::fullwidth.html.twig' %}

{% set total_tasks = (tasks_confirmed|length + tasks_in_progress|length + tasks_done|length) %}

{% if total_tasks <= 0 %}
    {% set total_tasks = 1 %}
{% endif %}

{% block breadcrumb %}
    <li><a href="{{ path('say_and_do_profile_profiles') }}">Profiliai</a></li>
    <li>{{ profile.getTitle() }}</li>
{% endblock %}

{% block header_title %}
    Profilio apžvalga
{% endblock %}

{% block inner_content %}
    <div class="author_box clearfix">
        <div class="col-lg-10 first">
            <img class="img-circle alignleft" width="100" src="{{ asset('profiles/profile_'~profile.getId()~'.png') }}" alt="">
            <h4>{{ profile.getTitle() }} - {{ profile.getPosition() }} <small>{{ profile.getPoliticalParty() }}</small></h4>
            <p>{{ profile.getDescription() }}</p>
            <div class="social_buttons">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble"></i></a>
            </div>
        </div>
        <div class="col-lg-2 last">
            <div class="pull-right">
                <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="milestone-counter">
                        <span class="stat-count highlight">{{ profile_rating }}</span>
                        <div class="milestone-details">Indeksas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="general-title text-center">
        <h3>Darbų statistika</h3>
        <hr>
    </div>
    <div class="skills text-center">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="chart" data-percent="{{ ((tasks_confirmed|length / total_tasks) * 100) }}">
                <span class="percent">{{ tasks_confirmed|length }}</span>
            </span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="chart" data-percent="{{ ((tasks_in_progress|length / total_tasks) * 100) }}">
                <span class="percent">{{ tasks_in_progress|length }}</span>
            </span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="chart" data-percent="{{ ((tasks_done|length / total_tasks) * 100) }}">
                <span class="percent">{{ tasks_done|length }}</span>
            </span>
        </div>
    </div>
    <div>
        <div class="col-lg-4 col-md-4 col-sm-4 first">
            <div class="widget">
                <h2 class="title">Darbai</h2>
                <ul class="check">
                    {% for task_confirmed in tasks_confirmed %}
                        <li style="font-size: 18px;">{{ task_confirmed.getTitle() }}</li>
                    {% endfor %}
                </ul>
            </div><!-- end widget -->
        </div><!-- large-6 -->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="widget">
                <h2 class="title">Vykdoma</h2>
                <ul class="check">
                    {% for task_in_progress in tasks_in_progress %}
                        <li style="font-size: 18px;">{{ task_in_progress.getTitle() }}</li>
                    {% endfor %}
                </ul>
            </div><!-- end widget -->
        </div><!-- large-6 -->
        <div class="col-lg-4 col-md-4 col-sm-4 last">
            <div class="widget">
                <h2 class="title">Atlikta</h2>
                <ul class="check">
                    {% for task_done in tasks_done %}
                        <li style="font-size: 18px;">{{ task_done.getTitle() }}</li>
                    {% endfor %}
                </ul>
            </div><!-- end widget -->
        </div><!-- large-6 -->
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Chart Effects;
        $('.chart').easyPieChart({
            easing: 'easeOutBounce',
            size : 180,
            animate : 2000,
            lineWidth : 10,
            lineCap : 'square',
            lineWidth : 18,
            barColor : '#3498db',
            trackColor : '#f9f9f9',
            scaleColor : false
        });
    </script>
{% endblock %}