{% extends '::rightcolumn.html.twig' %}

{% block breadcrumb %}
    <li>Profiliai</li>
{% endblock %}

{% block header_title %}
    Profiliai
{% endblock %}

{% block inner_content %}
    <div id="bbpress-forums">
            {% for profile in profiles %}
                {% if loop.index > 0 %}
                    <br>
                {% endif %}
                <div class="author_box clearfix">
                    <div class="col-lg-10 first">
                        <a href="{{ path('say_and_do_profile_details', {'id': profile.id }) }}"><img class="img-circle alignleft" width="100" src="{{ asset('demos/team_02.png') }}" alt=""></a>
                        <h4><a href="{{ path('say_and_do_profile_details', {'id': profile.id }) }}">{{ profile.getTitle() }} - {{ profile.getPosition() }} <small>{{ profile.getPoliticalParty() }}</small></a></h4>
                        <p>{{ profile.getDescription() }}</p>
                        <div class="social_buttons">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 last">
                        <div class="pull-right">
                            <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="milestone-counter">
                                    <span class="stat-count highlight">{{ profile.getPoints() }}</span>
                                    <div class="milestone-details">Indeksas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}
