{% extends '::fullwidth.html.twig' %}


{% block breadcrumb %}
    <li>Profilio apžvalga</li>
{% endblock %}

{% block header_title %}
    Profilio apžvalga
{% endblock %}

{% block inner_content %}

    {{ form_start(form, {'attr':{'class': 'form-horizontal'} }) }}

    {{ form_errors(form) }}
    <section class="section1">
        <div class="container clearfix">
            <div class="content pull-right col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">

                <!-- SLIDE POST -->
                <article class="blog-wrap text-center">
                    <h4 class="title">
                        <span>Pažado įrodymas</span>
                    </h4>

                    <div class="container clearfix">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a id="get-promise" class="btn btn-info">Atidaryti</a>
                            </span>
                            <input name="promise" id="promise" class="form-control" placeholder="Internetinis adresas" type="text">
                        </div>
                        <!-- /input-group -->
                    </div>
                    <br>
                    <div id="result" class="col-lg-12">

                    </div>
                    <!-- end carousel -->
                </article>

                <hr>

            </div>

            <!-- BEGIN SIDEBAR -->
            <div id="sidebar" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-top: 25px;">

                <div class="widget text-center">
                    <h4 class="title">
                        <span>Pažadas</span>
                    </h4>

                    <form id="subscribe" action="mc.php" name="subscribe" method="post">
                        {{ form_widget(form.title, {'attr': {'class': 'required fr_input_txt fr_97_5pro popupInput form-control', 'placeholder': 'Politikas'} }) }}
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.description, {'attr': {'class': 'required fr_input_txt fr_97_5pro partial_address form-control', 'placeholder': 'Pažado aprašymas'} }) }}
                        {{ form_errors(form.description) }}
                        <input type="hidden" name="result" id="result-shadow">
                        <div class="pull-right">
                            <input type="submit" value="Išsaugoti" id="submit" class="button">
                        </div>
                    </form>
                </div>

            </div>
            <!-- end sidebar -->
        </div>
        <!-- end container -->
    </section><!-- end section -->
    {{ form_end(form) }}

    <div id="result" style="width: 400px;">
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://assets.annotateit.org/annotator/v1.1.0/annotator-full.min.js"></script>
    <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">

    <script type="application/javascript">
        var $j = jQuery.noConflict();
        $j(document).ready(function () {

            $j("#get-promise").on("click", function (event) {
                $j.ajax({
                    url:     "/task/extract/",
                    type:    "POST",
                    data:    {
                    },
                    success: function (result) {
                        $j("#result").html(result)
                            .annotator()
                            .annotator('addPlugin', 'Tags');
                        $j("#result-shadow").val(result);
                    }
                });
            });
        });

    </script>

{% endblock %}
